@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Tilt+Prism&display=swap');

nav-bar {
    background: gray;
    max-width: 100%;
}

.cont  {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    height: 56px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    box-shadow: 0px 2px 4px rgba(122, 122, 122, 0.7);
}

.hounter { 
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.theme-change {
    margin: 15px;
    border: none;
    background: none;
}


