@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Tilt+Prism&display=swap');

nav-bar {
    background: rgb(255, 255, 255);
    max-width: 100%;
}

.cont  {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    height: 56px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.173);
}

.hounter { 
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.theme-change {
    margin: 15px;
    border: none;
    background: none;
}

.search-header {
    display: block;
    max-width: 500px;
    margin-top: 3px;
}

@media (max-width: 700px) {
    .search-header {
        display: none;
    }
}

@media (max-width: 1050px) {
    .search-header {
        max-width: 400px;
    }
}
