.message-container {
    display: flex;
    flex-direction: column-reverse;
}

.message-from-me,
.message-to-me {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

.message-to-me {
    align-self: flex-start;
    border-bottom-left-radius: 0px;
}

.message-from-me {
    align-self: flex-end; 
    border-bottom-right-radius: 0px;
}