@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    background: black;
}


li {
    list-style: none; 
}

.title-post {
    font-size: 20px;
}

/*Form for register and loading*/
.log-in {
    max-width: 400px;
    margin: 0 auto;
}

.btn-register {
    background: #4bb34b;
    color: white;
    max-width: 400px;
}

.input-error-dark {
    color:#ff5c5c;
    margin-bottom: -5px;
    background-color: #522e2e;
    border: 1px solid #ff5c5c;
    border-radius: 8px;
    padding: 10px;
    max-width: max-content;
}

.input-error-light {
    color: #ff5c5c;
    margin-bottom: -5px;
    background-color: #ff919136;
    border: 1px solid #ff5c5c;
    border-radius: 8px;
    padding: 10px;
    max-width: max-content;
}

.input-register-light {
    color: black;
    padding: 7px 10px;
    border-radius: 8px;
    width: 100%;
    background-color: #f2f3f5;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    border: 1px solid rgba(71, 71, 71, 0.175);
}

.input-register-dark {
    color: #e1e3e6;
    padding: 7px 10px;
    border-radius: 8px;
    width: 100%;
    background-color: #232324;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    border: 1px solid rgb(61, 61, 61);
}

.input-register-light:hover {
    border: 1px solid rgb(186, 186, 186);
}

.input-register-dark:hover {
    border: 1px solid #5a5a5aa5;
}

.input-register-light:focus {
    outline: none;
    box-shadow: none; 
    border: 1px solid #0054b5;
}

.input-register-dark:focus {
    outline: none;
    box-shadow: none; 
    border: 1px solid #7dbaff;
}

.input-items-error-dark {
    background-color: #522e2e;
    border: 1px solid #ff5c5c;
}

.input-items-error-light {
    background-color: #ff919136;
    border: 1px solid #ff5c5c;
}

.error-item-text-dark {
    margin-top: 3px;
    color: #ff5c5c;
    font-size: 13px;
}

.error-item-text-light {
    margin-top: 3px;
    color: #e64646;
    font-size: 13px;
}

/*ME*/
.cont-me {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ava-me {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    margin-bottom: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.my-info,
.my-posts {
    justify-content: center;
    padding: 20px;
    background: white;
    margin-bottom: 5px;
    border-radius: 10px;
    min-width: 100%;
}

.my-info {
    max-height: auto; 
    overflow-y: auto; 
}

.me {
    margin-top: 20px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 0;
}

.me-username {
    display: block;
    font-size: 18px;
}

.cont-for-icons {
    display: flex;
    justify-content: space-between;
    max-width: max-content;
    margin-bottom: 20px;
    .info-items {
        position: relative;
        top: -2px;
        margin-left: 10px;
    }
}

.item-icons {
    width: 20px;
    height: 20px;
}

.btn-for-edit {
    color: white;
    background: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {

    .ava-me {
        width: 300px;
        height: 300px;
    }

    .me {
        padding: 20px;
        padding-bottom: 0;
    }
    
    .my-posts {
        padding: 5px;
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    .ava-me {
        width: 200px;
        height: 200px;
    }
}

/*POSTS*/


.posts {

}

.post-item {
    max-width: 100%;
    background-color: white;
    padding: 30px;
    margin: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.img-post-item {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    max-height: 90vh;
}

.ava-in-item {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 50%;
    object-fit: cover; /* Обеспечиваем масштабирование изображения без искажений */

}

.author {
    position: relative;
    top: -5px;
    margin: 15px;
    font-size: 17px;
}

.likes-comm-views {
    margin-top: 10px;
}

.title-post {
    display: block;
    margin: 15px 0px;
}

.icons-lcv {
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.count-icons {
    margin-right: 10px;
    margin-left: 2px;
    font-size: 18px;
    position: relative;
    top: 3px;
}

.created-post-time {
    font-size: 13px;
    margin-top: 15px;
    color: gray;
}

.cont-head-item {
    display: flex;
    justify-content: space-between;
}

.btn-none {
    position: relative;
    top: 10px;
    border: none;
    background: none;
}

.icon-menu {
    position: relative;
    top: -5px;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    color: #000;
    cursor: pointer;
}

.icons-item-menu {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}

.menu-list {
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 0;
}

.menu-list-item {
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    color: #000;
    font-weight: bold; 
}

.delete {
    color: rgb(183, 0, 0);
}

.likes-includes {
    cursor: pointer;
    color: rgb(200, 3, 3);
}

.tags {
    margin-top: 10px;
}

.item-tag {
    margin-right: 5px;
    color: #0077FF;
}

@media (max-width: 700px) {
    .post-item {
        padding: 10px;
    }
}


/*CREATE POSTS*/
.create-post {
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
}

.form-for-addpost {
    background-color: white;
    display: block;
    margin: 0 auto;
    max-width: 800px;
    border-radius: 10px;
    background: white;
    border: 1px solid rgb(205, 205, 205);
    padding: 30px;
    color: gray;
}

.input-add-post {
    width: 100%;
    box-sizing: border-box; 
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(157, 157, 157);
    margin-bottom: 10px;
}

.textarea {
    height: 200px;
}

.input-file {
    margin-bottom: 20px;
    display: none;
}

.btn-add-image {
    color: black;
    background: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.img-foradd {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-delete-image {
    margin-left: 10px;
    color: white;
    background: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*Post Page*/

.post-page-cont {
    max-width: 100%;
    background: white;
    padding-bottom: 10px;
}

.h {
    width: 100px;
    height: 10px;
    background: black;
}

@media (max-width: 600px) {
    .create-post {
        padding: 10px;
    }

    .form-for-addpost {
        padding: 20px;
    }
}